<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks list</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.getId()}">ID</td>
        <td>
            <a th:href="@{/tasks/{id}(id=${task.getId()})}" th:text="${task.getDescription()}">Description</a>
        </td>
        <td th:text="${task.getStatus()}">Status</td>
    </tr>
    </tbody>
</table>

<div th:if="${currentPage > 0}">
    <a th:href="@{/tasks(page=${currentPage - 1}, size=${size})}">Previous</a>
</div>

<div th:if="${currentPage < totalPages - 1}">
    <a th:href="@{/tasks(page=${currentPage + 1}, size=${size})}">Next</a>
</div>


<br/>
<hr/>

<a href="/tasks/new">Create new task</a>

</body>
</html>
