<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
</head>
<body>

<form th:method="POST" th:action="@{/tasks}" th:object="${task}">
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <label for="status">Select status: </label>
    <select th:field="*{status}" id="status">
        <option th:each="statuses : ${status}" th:value="${statuses}" th:text="${statuses}"></option>
    </select>
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>